@font-face {
    font-family: "poppins";
    src: url(fonts/Poppins/Poppins-Black.ttf);
}

:root{
   --Red: hsl(0, 78%, 62%);
   --Cyan: hsl(180, 62%, 55%);
   --Orange: hsl(34, 97%, 64%);
   --Blue: hsl(212, 86%, 64%);
   
   

   --Very-Dark-Blue: hsl(234, 12%, 34%);
   --Grayish-Blue: hsl(229, 6%, 66%);
   --Very-Light-Gray: hsl(0, 0%, 98%);
}

*, *::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-----------------------Layout--------------------------------------------*/

header{
    margin: 0  auto;
    width: 95%;
    text-align: center;
}

main >section{
    padding: 8%;
}


section  img {
   display: block;
   margin-left: auto;
    
}
section  p {
    margin-bottom:9% ;
    
}
h2{
    margin-bottom :3%; 
}

section >div{
    width: 80%;
}
/*----------------fonts  and other -----------------------*/

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--Very-Light-Gray);
    color:var(--Very-Dark-Blue)
}

header >  h1, header > span{
    font-size: 2.25rem;
}

 p{
    font-size: .937rem;
    font-weight: 300;
    
}

h1{
    font-weight: 300;
}

header > span{
    font-weight: 600;
    
}

 

main > section{
    border-top: solid 4px;
    border-radius:8px ;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
} 

.sup_box{
    border-color: var(--Cyan);
}
.team_box{
    border-color: var(--Red);  
}

.karma_box{
    border-color: var(--Orange);  
}

.calc_box{
    border-color: var(--Blue);    
}























@media (min-width:1000px) {
    
    main{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr  1fr;
        gap:2%;
    }
    
 
.sup_box{
    grid-area: 2/1/4/2 ;
}
.team_box{
    grid-area: 1/2/3/3
}
.karma_box{
    grid-area: 3/2/5/3
}

.calc_box{
    grid-area: 2/3/4/4;
}

}


 
    @media (min-width:500px)  and (max-width:999px){
    main{
        display: grid;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr  ;
        gap:2%;
    }
        main >section{
            
        }
        .sup_box{
          
        }
        .team_box{
            
        }
        .karma_box{
           
        }
        
        .calc_box{
           
        }
        
        }