@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins/Poppins-Black.ttf);
}

:root{
   --Red: hsl(0, 78%, 62%);
   --Cyan: hsl(180, 62%, 55%);
   --Orange: hsl(34, 97%, 64%);
   --Blue: hsl(212, 86%, 64%);
   
   

   --Very-Dark-Blue: hsl(234, 12%, 34%);
   --Grayish-Blue: hsl(229, 6%, 66%);
   --Very-Light-Gray: hsl(0, 0%, 98%);
}

*, *::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-----------------------Layout--------------------------------------------*/


header{
    margin: 0  auto;
    width: 95%;
    text-align: center;
}
































@media (min-width:1000px) {
    
    main{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr  1fr;
    
    }
    

main >section{
    border: solid 4px red;
}
.sup_box{
    grid-area: 2/1/4/2 ;
}
.team_box{
    grid-area: 1/2/3/3
}
.karma_box{
    grid-area: 3/2/5/3
}

.calc_box{
    grid-area: 2/3/4/4;
}

}


 
    @media (min-width:500px)  and (max-width:999px){
    main{
        display: grid;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr  ;
    }
        main >section{
            border: solid 4px red;
        }
        .sup_box{
          
        }
        .team_box{
            
        }
        .karma_box{
           
        }
        
        .calc_box{
           
        }
        
        }